body {
	font-family: 'Montserrat', sans-serif;
}

.bg-danger {
	background-color: #f53756!important;
}

.bg-success {
	background-color: #4cb8b3!important;
}

.bg-warning {
	background-color: #fef46d!important;
}

.bg-secondary {
	background-color: #752f97;
}

/* Navigation */
.fixed-top {
	transition: all .3s ease;
}

.fixed-top.bg-success {
	-webkit-box-shadow: 10px 24px 25px 11px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 10px 24px 25px 11px rgba(0, 0, 0, 0.57);
	box-shadow: 10px 24px 25px 11px rgba(0, 0, 0, 0.57);
}

.fixed-top .nav-link {
	color: #ffffff;
}

.fixed-top .active {
	background-color: #752f97!important;
}

.navbar-brand {
	font-size: 1.8rem;
	font-weight: 400;
}

.navbar-brand span {
	font-weight: 700;
}

a.navbar-brand .text-light:hover {
	color: #ffffff;
}

/* Video Header */
.embed-responsive {
	position: relative;
	background-image: url(../img/banda.jpg);
	height: 50rem;
	background-position: center center;
}

@media (min-width: 992px) {
	.embed-responsive {
		background-image: unset;
		height: auto;
	}
}

.embed-responsive::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100&0.5+0,0.5+100;Brown+Red+3D */
	background: -moz-linear-gradient(top, rgba(169, 3, 41, 0.5) 0%, rgba(143, 2, 34, 0.5) 44%, rgba(109, 0, 25, 0.5) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(169, 3, 41, 0.5) 0%, rgba(143, 2, 34, 0.5) 44%, rgba(109, 0, 25, 0.5) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(169, 3, 41, 0.5) 0%, rgba(143, 2, 34, 0.5) 44%, rgba(109, 0, 25, 0.5) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80a90329', endColorstr='#806d0019', GradientType=0);
	/* IE6-9 */
}

.informacion-concierto {
	position: absolute;
	top: 20%;
	z-index: 100;
}

@media (min-width: 992px) {
	.informacion-concierto {
		top: 35%
	}
}

.informacion-concierto h1 {
	font-size: 3rem;
	line-height: 6rem;
}

@media (min-width: 992px) {
	.informacion-concierto h1 {
		font-size: 4rem;
		line-height: unset;
	}
}

.informacion-concierto h1 span,
.informacion-concierto p {
	font-weight: 700;
	-webkit-box-shadow: 10px 10px 24px -5px rgba(0, 0, 0, 0.78);
	-moz-box-shadow: 10px 10px 24px -5px rgba(0, 0, 0, 0.78);
	box-shadow: 10px 10px 24px -5px rgba(0, 0, 0, 0.78);
}

.informacion-concierto p {
		font-size: 2rem;
}

.informacion-concierto .text-dark,
.sobre-festival .text-dark {
	color: #f53756!important;
	font-weight: 700;
}

/* Line Up */
.separador::after {
	content: '';
	display: block;
	height: 120px;
	width: 300px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 120px;
	margin: 0 auto;
}

.rock::after {
	background-image: url(../img/guitarra.png);
}

.dj::after {
	background-image: url(../img/dj.png)
}

.horario.bg-warning li:nth-child(2n+2) {
	background-color: #eae05b!important;
}

.horario.bg-success li:nth-child(2n+2) {
	background-color: #3ca8a2!important;
}

/* Date */
.fecha {
	font-size: 2.8rem;
}

.fecha span {
	font-weight: 700;
}

.fecha span::before {
	content: ' - ';
}

.fecha span:first-child::before {
	display: none;
}

/* Tickets */
.boletos .precios {
	font-size: 2rem;
}

.boletos .active {
	background-color: #752f97;
	border-color: #752f97;
}

.list-group-item-success {
	background-color: #4cb8b3;
}
